extends layout

block content
  main
    div#card3.cards
      if person_info
        span.person_info_text Используйте ваш телефон при входе в ресторан, чтобы подтвердить бронь
        div
          ul Ваша бронь:
            li= 'Имя: '+person_info.name
            li= 'Телефон: '+person_info.phone
            li= 'Дата: '+person_info.date_formatted
            li= 'Этаж: '+person_info.level
            li= 'Время: '+person_info.time

        div.person_info_button
          form(action=person_info.url+'/delete' method="POST")
            button.delete_button(type='submit') Отменить бронь

      if !person_info
        h2= error
