extends layout

block content
  main
    div#card2.cards
      form.person_form(method='POST' action='')
        div.form_wrapper
          label.name_label(for="name") Имя:
          input.name_input(type='text', placeholder='Например, Иван', name='name', required='true', value=name)
        div.form_wrapper
          label.phone_label(for="phone") Телефон:
          input.phone_input(type='text', placeholder='Например, 81234567890', name='phone', required='true', value=phone)
        div.form_wrapper
          label.date_label(for="date") Дата бронирования:
          input.date_input(type="date", name="date", required='true', value=date_formatted)
        div.radio_wrapper
          span Желаемый этаж:
          for level in levels
            if person
              if level === person.level
                div.form_radio
                  input(type="radio", name='level', class='level', id=level, value=level, required, checked)
                  label(for=level class='level_label') #{level}
              else
                div.form_radio
                  input(type="radio", name='level', class='level', id=level, required, value=level )
                  label(for=level class='level_label') #{level}
            if !person
              div.form_radio
                input(type="radio", name='level', class='level', id=level, required, value=level )
                label(for=level class='level_label') #{level}
        div.radio_wrapper
          span Желаемое время:
          for time in times
            if person
              if time === person.time
                div.form_radio
                  input(type="radio", name='time', id=time, value=time, required, checked)
                  label(for=time) #{time}
              else
                div.form_radio
                  input(type="radio", name='time', id=time, required, value=time )
                  label(for=time) #{time}
            if !person
              div.form_radio
                input(type="radio", name='time', id=time, required, value=time )
                label(for=time) #{time}
        button.submit(type='submit') Отправить

        if errors
          ul
            for error in errors
              li(style='color: red;')= error